alabaster==1.0.0
asgiref==3.8.1
babel==2.17.0
certifi==2025.4.26
chardet==5.2.0
charset-normalizer==3.4.2
colorama==0.4.6
dj-database-url==2.3.0
Django==5.2
docutils==0.21.2
git-filter-repo==2.47.0
idna==3.10
imagesize==1.4.1
importlib_metadata==8.7.0
include==0.2.2
iniconfig==2.0.0
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==24.2
pillow==11.2.1
pluggy==1.5.0
Pygments==2.19.1
pytest==8.3.4
pytest-django==4.9.0
python-decouple==3.8
PyYAML==6.0.2
reportlab==4.4.1
requests==2.32.3
roman-numerals-py==3.1.0
rst2pdf==0.103.1
smartypants==2.0.1
snowballstemmer==3.0.1
Sphinx==8.2.3
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlparse==0.5.3
stripe==12.1.0
typing_extensions==4.13.2
tzdata==2024.2
urllib3==2.4.0
whitenoise==6.9.0
zipp==3.21.0
