.home-title {
    text-align: center;
    padding-bottom: 20px;
}

.home-container {
    padding-left: 20px;
    padding-right: 20px;
}

.home-themes {
    display: flex;
    justify-content: start;
    gap: 120px
}

.theme-title {
    margin-top: 50px;
    margin-bottom: 30px;
}

.home-list-link {
    text-decoration: none;
    color: #000;
}

.home-list-link:hover .home-list {
    background-color: #4b5563;
    cursor: pointer;
}

.home-list {
    list-style-type: none;
    border: solid 1px #000;
    border-radius: 5px;
    width: 200px;
    height: 150px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #38405099;
    transition: background-color 0.3s ease-in-out;
}

.theme-name {
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.theme-count {
    margin-bottom: 20px;
}

.theme-link {
    color: #000;
    font-style: italic;
}

.theme-link:hover {
    text-decoration: underline;
}
