.home-themes {
    display: flex;
    justify-content: start;
    gap: 80px;
    margin-right: 50px;
}

.theme-title {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.theme-list,
.theme-list-new {
    list-style-type: none;
    border: solid 1px #000;
    border-radius: 5px;
    width: 200px;
    height: 150px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #38405099;
}

.theme-name {
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.theme-count {
    margin-bottom: 20px;
}

.theme-list-new {
    text-align: center;
    display: flex;
    align-items: center;
}

.home-link {
    text-decoration: none;
    color: #000;
    font-style: italic;
}

.home-link:hover {
    color: #000;
    text-decoration: underline;
    font-weight: bold;
}

.home-link-new {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.home-link-new:hover {
    color: #000;
    text-decoration: underline;
    font-style: italic;
}