{% extends 'base.html' %}

{% load static %}

{% block title %}Accueil{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block content %}
<h1 class="home-title">Bienvenue sur notre plateforme Knowlegde Learning</h1>
<div class="home-container">
    <p>Nous vous proposons désormais une variété de cursus en ligne pour vous aider à développer vos compétences.<br> 
    Nos cursus sont répartis en 4 grands thèmes, eux-même découpés en différents cursus et leçons. <br>
    Vous aurez la possibilité de suivre un cursus complet ou seulement les leçons que vous souhaitez. Si un thème est suivi dans son intégralité, vous obtiendrez une certification de suivi.<br>
    Afin d'accéder à nos différents thèmes, cursus et leçons, merci de vous connectez à votre espace personnel.</p>

    <h2 class="theme-title">Voici les thèmes proposés :</h2>
    <ul class="home-themes">
        {% for theme in themes %}
            <li class="home-list">
                <div class="theme-name">{{ theme.name }}</div>
                <div class="theme-count">{{ theme.curriculums.count }} cursus disponibles</div>
                <div class="theme-link"><a href="{% url 'theme_detail' theme.id %}" class="home-link">+ de détails</a></div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
