{% extends 'base.html' %}

{% load static %}

{% load i18n %}

{% block title %}Se connecter{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block content %}
<h2 class="title-login">Connexion</h2>
<div class="login-container">
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="form-group">
      <label for="id_username">Adresse mail :</label>
      {{ form.username }}
    </div>

    <div class="form-group">
      <label for="id_password">Mot de passe :</label>
      {{ form.password }}
    </div>

    <input type="hidden" name="next" value="{{ next }}" />

    {% if form.non_field_errors %}
      <div class="error-message">
        {{ form.non_field_errors }}
      </div>
    {% endif %}

    {% if form.username.errors %}
      <div class="error-message">
        {{ form.username.errors }}
      </div>
    {% endif %}

    {% if form.password.errors %}
      <div class="error-message">
        {{ form.password.errors }}
      </div>
    {% endif %}

    <button type="submit" class="btn">Se connecter</button>
  </form>

  <p>Pas encore inscrit ? <a href="{% url 'register' %}">Créer un compte</a></p>
</div>
{% endblock %}
