{% extends 'base.html' %}

{% load static %}

{% block title %}Achat {{ curriculum.title }}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/purchase_curriculum.css' %}">
{% endblock %}

{% block content %}
<div class="link-container">
    <a href="{% url 'theme_detail' curriculum.theme.id %}" class="back-link">← Retour au thème</a>
    <a href="{% url 'cart' %}" class="back-link">Accéder au panier →</a>
</div>

<h2 class="title-theme">Achat du cursus</h2>

<div class="purchase-container">
    <h3>{{ curriculum.title }}</h3>
    <p><strong>Thème :</strong> {{ curriculum.theme.name }}</p>
    <p><strong>Prix du cursus :</strong> {{ curriculum.price }} €</p>

    <form action="{% url 'add_to_cart' item_id=curriculum.id item_type='curriculum' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <button type="submit" class="btn">Ajouter le cursus complet au panier</button>
    </form>

    <h3 class="title-lesson">Ou acheter une seule leçon :</h3>
    <ul>
        {% for lesson in curriculum.lessons.all %}
            <li>
                Leçon {{ lesson.order }} : {{ lesson.title }} -<strong> {{ lesson.price }} €</strong>
                <form action="{% url 'add_to_cart' item_id=lesson.id item_type='lesson' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button type="submit" class="btn">Ajouter cette leçon au panier</button>
                </form>
            </li>
        {% empty %}
            <li>Ce cursus ne contient actuellement aucune leçon.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
