{% extends 'base.html' %}

{% load static %}
{% load custom_tags %}

{% block title %}Mon Parcours{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<a href="{% url 'cart' %}" class="back-link">Accéder au panier →</a>

<h1 class="title-dashboard">Mon Parcours</h1>

<div class="container-dashboard">

  <h2>Cursus achetés</h2>

  {% if theme_with_curriculums %}
    <ul>
      {% for entry in theme_with_curriculums %}
        {% with theme=entry.theme curriculums=entry.curriculums %}
          <li>
            <div class="theme-block">
              <div class="theme-line">
                <span class="theme-title">Thème : {{ theme.name }}</span>
                {% with theme_progress_by_theme|get_item:theme.id as progress %}
                  <div class="theme-progress-group"> 
                    <div class="theme-progress-bar">
                      <div class="progress" style="width: {{ progress }}%;"></div>
                    </div>
                    <small class="progress-text">{{ progress }}% complété</small>
                  </div>
              </div> 

              {% if progress == 100 %}
                <div class="certificate-container">
                  <a href="{% url 'view_certificate' theme.id %}" class="certificate-link" target="_blank">
                    🎓 Accéder à mon certificat
                  </a>
                </div>
              {% endif %}
              {% endwith %}
            </div>
          
            <ul>
              {% for item in curriculums %}
                {% with curriculum=item.curriculum purchased=item.purchased progress=item.progress %}
                  <li>
                    <div class="cursus-content">
                      {% if purchased %}
                        {{ curriculum.title }}
                        <ul>
                          {% for lesson in curriculum.lessons.all %}
                            <li class="lesson-item">
                              <div class="lesson-content">
                                <a href="{% url 'lesson_detail' lesson.id %}" class="lesson-link">
                                  {{ lesson.title }}
                                </a>
                                {% if lesson.id in completed_lessons_ids %} 
                                  <span class="status-icon">✅</span>
                                {% else %}
                                  <span class="status-icon">❌</span>
                                {% endif %}
                              </div>
                            </li>
                          {% endfor %}
                        </ul>
                      {% else %}
                        <a href="#" class="cursus-link locked-lesson" onClick="showErrorMessage(event, 'cursus', '{{ curriculum.id }}')">
                          🔒 {{ curriculum.title }}
                        </a>
                        <form method="POST" action="{% url 'add_to_cart' curriculum.id 'curriculum' %}">
                          {% csrf_token %}
                          <input type="hidden" name="next" value="{{ request.path }}">
                          <button type="submit" class="hidden-button" id="add-button-{{ curriculum.id }}">Ajouter au panier</button>
                        </form>
                      {% endif %}
                    </div>
                  </li>
                {% endwith %}
              {% endfor %}
            </ul>
          </li>
        {% endwith %}
      {% endfor %}
    </ul>
  {% else %}
    <p>Vous n'avez acheté aucun cursus.</p>
  {% endif %}

  <h2>Leçons achetées individuellement</h2>
  {% if standalone_lessons_by_theme %}
    <ul>
      {% for theme, curriculums in standalone_lessons_by_theme.items %}
        <li>
          <div class="theme-block">
            <div class="theme-line">
              <span class="theme-title">Thème : {{ theme.name }}</span>
              {% with standalone_progress_by_theme|get_item:theme.id as progress %}
                <div class="theme-progress-group"> 
                  <div class="theme-progress-bar">
                    <div class="progress" style="width: {{ progress }}%;"></div>
                  </div>
                  <small class="progress-text">{{ progress }}% complété</small>
                </div>
            </div>

            {% if progress == 100 %}
              <div class="certificate-container">
                <a href="{% url 'view_certificate' theme.id %}" class="certificate-link">
                  🎓 Accéder à mon certificat
                </a>
              </div>
            {% endif %}
            {% endwith %}
          </div>

          <ul>
            {% for curriculum, lessons in curriculums.items %}
              <li>
                <div class="cursus-content">
                  {{ curriculum.title }}
                  <ul>
                    {% for lesson_data in lessons %}
                      <li class="lesson-item">
                        <div class="lesson-content">
                          {% if lesson_data.purchased %}
                            <a href="{% url 'lesson_detail' lesson_data.lesson.id %}" class="lesson-link">
                              {{ lesson_data.lesson.title }}
                            </a>
                            {% if lesson_data.validated %} 
                              <span class="status-icon">✅</span> 
                            {% else %}
                              <span class="status-icon">❌</span>
                            {% endif %}
                          {% else %}
                            <a href="#" class="lesson-link locked-lesson" onClick="showErrorMessage(event, 'lesson', '{{ lesson_data.lesson.id }}')">
                              🔒 {{ lesson_data.lesson.title }}
                            </a>
                            
                            <form method="POST" action="{% url 'add_to_cart' lesson_data.lesson.id 'lesson' %}">
                              {% csrf_token %}
                              <input type="hidden" name="next" value="{% url 'cart' %}">
                              <button type="submit" class="hidden-button" id="add-button-{{ lesson_data.lesson.id }}">Ajouter au panier</button>
                            </form>

                            <span class="status-icon"></span>
                          {% endif %}
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Vous n'avez acheté aucune leçon individuellement.</p>
  {% endif %}
</div>

<div id="message-container" class="message-container hidden">
  <p class="error-message">Vous devez acheter cette leçon pour y accéder.</p>
</div>

<script>
  function showErrorMessage(event, type, id = null) {
    event.preventDefault();

    const messageContainer = document.getElementById('message-container');
    const messageText = messageContainer.querySelector('.error-message');
    let button = null;

    if (type === 'cursus') {
      messageText.textContent = "Vous devez acheter ce cursus pour y accéder.";
    } else {
      messageText.textContent = "Vous devez acheter cette leçon pour y accéder.";
    }

    messageContainer.classList.remove('hidden');

    // Affiche le bouton "Ajouter au panier" si la leçon est verrouillée
    if (id) {
      button = document.getElementById(`add-button-${id}`);
      if (button) {
        button.classList.remove('hidden-button');
      }
    }

    setTimeout(() => {
      messageContainer.classList.add('hidden');
      if (button) {
        button.classList.add('hidden-button');
      }
    }, 5000);
  }
</script>

{% endblock %}
